*{
  box-sizing: border-box;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
*:before, *:after {
  box-sizing: border-box;
}
body {
  font: 300 13px/1.6 'Helvetica Neue', Helvetica, Arial;
  color: #000;
  transition: all .4s .3s ease-in;
}
body,html{
	min-height: 100vh;
	overflow: hidden;
}
::selection{
  background: #333;
  color: $c-white;
  text-shadow: none;
}
::-moz-selection{
  background: #333;
  color: $c-white;
  text-shadow: none;
}
::-webkit-selection{
  background: #333;
  color: $c-white;
  text-shadow: none;
}