::selection{
  background: #333;
  color: #fff;
  text-shadow: none;
}
::-moz-selection{
  background: #333;
  color: #fff;
  text-shadow: none;
}
::-webkit-selection{
  background: #333;
  color: #fff;
  text-shadow: none;
}

/* Print Stuff */

.show-print {
  display: none !important;
}

.show-print-block {
  display: none !important;
}

.show-print-inline {
  display: none !important;
}

.show-print-inline-block {
  display: none !important;
}
