$c-white: #ffffff;
$c-black: #000000;
$c-grey: #333333;

//#######################################
//## MAIN COLORS ########################
//#######################################

$c01: #f2f3f3;
$c02: #003764;
$c03: #818181;

//#######################################
//## HEADER #############################
//#######################################

$header-bg-color: $c01;

//#######################################
//## FOOTER #############################
//#######################################

$footer-bg-color: $c-white;

//#######################################
//## MINI NAV ###########################
//#######################################

$mini-nav-color-default: $c03;

//#######################################
//## HOMEPAGE ###########################
//#######################################

$section-white-bg: rgba($c-white, 0.8);

